table,th,tr,td {
    border: dotted;
    border-width: 1px;
    border-collapse: collapse;
    color: black;
    padding: 5px;
}

.center {
    text-align: center;
}

#page {
    border: 2px solid #cbc9c9;
    width: 20%;
    padding: 5px;
}