.container2 {

    display: grid;
    grid-template-rows: ;
    background-color: black;
    box-sizing: border-box;
    width: 50%;
    height: 200px;
 }

.container2 * {

}

.item21 {
    background-color: green;

}

.item22 {
    background-color: blue;

}