.one, .two, .three {
 width: 30%;
 margin: 20px;
 padding: 8px;
}

#head {
    padding-left: 1.2%;
}

.one {
    border: 1px solid black;
}

.two, .two p {
    border: 1px dashed black;
}

.three {
    border: 1px solid gray;
}

.s1 {
    background-color: green;
}

.s2 {
    background-color: blue;
}

.s3 {
    background-color: green;
}

.s4 {
    background-color: green;
}

.seven {
    color: blue;
}

.eight {
    background-color: blue;

}

.list2 {
    color: blue;
    list-style-type: circle;
}

.list3 {
    color: green;
    list-style-type: none;
}

