.tip:hover {
    border: 2px solid grey;
    font-size: 20px;
    opacity: 0.5;
    color: black;
}



.anchor {
    position: relative;
}
 img{
    position: absolute;
    top: 45px;
    right:0;
   