.tip:hover {
    border: 2px solid grey;
    font-size: 20px;
    opacity: 0.5;
    color: black;
}

p {
    width: 40%;
}

}
.anchor {
    position: relative;
}
img{
    position: fixed;
    top: 45px;
    left: 300px;
}